<div class="card">
  <mat-card>
    <mat-card-title> {{bid['name']}} </mat-card-title>
    <mat-card-subtitle>	Vendu par {{seller['firstname']}} {{seller['lastname']}} </mat-card-subtitle>
    <mat-card-content>
      Début : {{bid['startDate'] | date:'short'}} <br/>
      Prix de départ : {{bid['startPrice']}} € <br/>
      Prix actuel : {{bid['price']}} €
    </mat-card-content>
    <mat-card-actions *ngIf="isBiddable">
      <mat-icon>attach_money</mat-icon>
    </mat-card-actions>
    <mat-card-actions *ngIf="!isBiddable">
      <mat-icon>money_off</mat-icon>
    </mat-card-actions>
    <mat-card-footer> Fin : {{bid['endDate'] | date:'short'}} </mat-card-footer>
  </mat-card>
</div>
