<div class="card">
  <mat-card>
    <mat-card-title> {{bid['name']}} </mat-card-title>
    <mat-card-subtitle>	Vendu par {{seller['firstname']}} {{seller['lastname']}} </mat-card-subtitle>
    <mat-card-content>
      Début : {{bid['startDate'] | date:'short'}} <br/>
      Prix de départ : {{bid['startPrice']}} € <br/>
      Prix actuel : {{bestOffer['price']}} € <br/><br/>
      Description : <br/>
      {{bid['description']}}
    </mat-card-content>
    <mat-card-actions >
      <mat-icon *ngIf="isOwner && isEditable">edit</mat-icon>
      <mat-form-field appearance="fill">
        <mat-label>Enchérir (€)</mat-label>
        <input matInput #price type="number" [min]="bid['price']+1" [disabled]="!isBiddable">
        <button mat-icon-button matSuffix (click)="place_bidding(price.valueAsNumber)" [disabled]="!isBiddable">
          <mat-icon>attach_money</mat-icon>
        </button>
      </mat-form-field>
      <button mat-icon-button *ngIf="isOwner" (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <div style="color: red" *ngIf="isExpired(bid['endDate'])"> Fin : {{bid['endDate'] | date:'short'}} </div>
      <div *ngIf="!isExpired(bid['endDate'])"> Fin : {{bid['endDate'] | date:'short'}} </div>
    </mat-card-footer>
  </mat-card>
</div>
