<table mat-table [dataSource]="promotions">

  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let promo"> {{promo.article.name}} </td>
  </ng-container>

  <ng-container matColumnDef="reduction">
    <th mat-header-cell *matHeaderCellDef> Reduction </th>
    <td mat-cell *matCellDef="let promo"> {{promo.reduction}} % </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let promo">
      {{promo.article.description}}
    </td>
  </ng-container>

  <ng-container class="cell-right" matColumnDef="info">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class="cell-right" mat-cell *matCellDef="let bid"> <button mat-icon-button [routerLink]="['/bid', bid.article.id]"><mat-icon>info</mat-icon></button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
