<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-toolbar color="primary">
  <span>Au Printemps Des Enchères</span>

  <span class="example-spacer"></span>

  <button mat-icon-button aria-label="Accueil" [routerLink]="['/home']">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-icon-button aria-label="Enchères" [routerLink]="['/auction']">
    <mat-icon>attach_money</mat-icon>
  </button>

  <button mat-icon-button aria-label="Promotions" [routerLink]="['/promotions']">
    <mat-icon>new_releases</mat-icon>
  </button>

  <button mat-icon-button aria-label="Connexion" *ngIf="!conn" [routerLink]="['/login']">
    <mat-icon>login</mat-icon>
  </button>

  <button mat-icon-button aria-label="Inscription" *ngIf="!conn" [routerLink]="['/signup']">
    <mat-icon>person_add_alt_1</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
